In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime
from dateutil.parser import parse
import pandas as pd

In [2]:
df = pd.read_csv('/Users/flatironschool/Downloads/flight_delays/flight_delays.csv')

In [3]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Month,DayofMonth,Hour,Origin,Dest,SchedDep,DepTime,DepDelay,ArrTime,ArrDelay,AirTime,FlightNumber,Temp,Humidity,Wind,Pressure,Description
0,0,7,1,1,22,DFW,MIA,2120.0,2204.0,84.0,139.0,73.0,136.0,AA2329,65.01,77.0,2.0,1009.0,broken clouds
1,1,18,1,1,22,DFW,LAX,2210.0,2216.0,6.0,2353.0,9.0,184.0,AA1023,65.01,77.0,2.0,1009.0,broken clouds
2,2,19,1,1,22,DFW,ORD,2130.0,2220.0,90.0,19.0,74.0,98.0,AA1040,65.01,77.0,2.0,1009.0,broken clouds
3,3,21,1,1,22,DFW,ORD,2215.0,2208.0,-7.0,2400.0,-30.0,95.0,AA2525,65.01,77.0,2.0,1009.0,broken clouds
4,4,49,1,1,18,LAX,ORD,1750.0,1837.0,87.0,21.0,58.0,200.0,AA2576,47.59,81.0,3.0,1014.0,fog

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84866 entries, 0 to 84865
Data columns (total 19 columns):
Unnamed: 0      84866 non-null int64
Unnamed: 0.1    84866 non-null int64
Month           84866 non-null int64
DayofMonth      84866 non-null int64
Hour            84866 non-null int64
Origin          84866 non-null object
Dest            84866 non-null object
SchedDep        84866 non-null float64
DepTime         84866 non-null float64
DepDelay        84866 non-null float64
ArrTime         84866 non-null float64
ArrDelay        84866 non-null float64
AirTime         84866 non-null float64
FlightNumber    84866 non-null object
Temp            84866 non-null float64
Humidity        84862 non-null float64
Wind            84866 non-null float64
Pressure        84865 non-null float64
Description     84866 non-null object
dtypes: float64(10), int64(5), object(4)
memory usage: 12.3+ MB

In [5]:
df.isnull().sum()

Unnamed: 0      0
Unnamed: 0.1    0
Month           0
DayofMonth      0
Hour            0
Origin          0
Dest            0
SchedDep        0
DepTime         0
DepDelay        0
ArrTime         0
ArrDelay        0
AirTime         0
FlightNumber    0
Temp            0
Humidity        4
Wind            0
Pressure        1
Description     0
dtype: int64

In [6]:
df.dropna(inplace=True)

In [7]:
df.isnull().sum()

Unnamed: 0      0
Unnamed: 0.1    0
Month           0
DayofMonth      0
Hour            0
Origin          0
Dest            0
SchedDep        0
DepTime         0
DepDelay        0
ArrTime         0
ArrDelay        0
AirTime         0
FlightNumber    0
Temp            0
Humidity        0
Wind            0
Pressure        0
Description     0
dtype: int64

In [8]:
df.duplicated().sum()

0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84861 entries, 0 to 84865
Data columns (total 19 columns):
Unnamed: 0      84861 non-null int64
Unnamed: 0.1    84861 non-null int64
Month           84861 non-null int64
DayofMonth      84861 non-null int64
Hour            84861 non-null int64
Origin          84861 non-null object
Dest            84861 non-null object
SchedDep        84861 non-null float64
DepTime         84861 non-null float64
DepDelay        84861 non-null float64
ArrTime         84861 non-null float64
ArrDelay        84861 non-null float64
AirTime         84861 non-null float64
FlightNumber    84861 non-null object
Temp            84861 non-null float64
Humidity        84861 non-null float64
Wind            84861 non-null float64
Pressure        84861 non-null float64
Description     84861 non-null object
dtypes: float64(10), int64(5), object(4)
memory usage: 12.9+ MB

In [10]:
del df['Unnamed: 0']

In [11]:
del df['Unnamed: 0.1']

In [12]:
df.head()

,Month,DayofMonth,Hour,Origin,Dest,SchedDep,DepTime,DepDelay,ArrTime,ArrDelay,AirTime,FlightNumber,Temp,Humidity,Wind,Pressure,Description
0,1,1,22,DFW,MIA,2120.0,2204.0,84.0,139.0,73.0,136.0,AA2329,65.01,77.0,2.0,1009.0,broken clouds
1,1,1,22,DFW,LAX,2210.0,2216.0,6.0,2353.0,9.0,184.0,AA1023,65.01,77.0,2.0,1009.0,broken clouds
2,1,1,22,DFW,ORD,2130.0,2220.0,90.0,19.0,74.0,98.0,AA1040,65.01,77.0,2.0,1009.0,broken clouds
3,1,1,22,DFW,ORD,2215.0,2208.0,-7.0,2400.0,-30.0,95.0,AA2525,65.01,77.0,2.0,1009.0,broken clouds
4,1,1,18,LAX,ORD,1750.0,1837.0,87.0,21.0,58.0,200.0,AA2576,47.59,81.0,3.0,1014.0,fog

In [13]:
df['DepTime'] = df['DepTime'].astype(int)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84861 entries, 0 to 84865
Data columns (total 17 columns):
Month           84861 non-null int64
DayofMonth      84861 non-null int64
Hour            84861 non-null int64
Origin          84861 non-null object
Dest            84861 non-null object
SchedDep        84861 non-null float64
DepTime         84861 non-null int64
DepDelay        84861 non-null float64
ArrTime         84861 non-null float64
ArrDelay        84861 non-null float64
AirTime         84861 non-null float64
FlightNumber    84861 non-null object
Temp            84861 non-null float64
Humidity        84861 non-null float64
Wind            84861 non-null float64
Pressure        84861 non-null float64
Description     84861 non-null object
dtypes: float64(9), int64(4), object(4)
memory usage: 11.7+ MB

In [15]:
df['DepTime'] = df['DepTime'].astype(str)

In [16]:
df['DepTime'] = df['DepTime'].apply(lambda x: '{0:0>4}'.format(x))

In [17]:
df.head(20)

,Month,DayofMonth,Hour,Origin,Dest,SchedDep,DepTime,DepDelay,ArrTime,ArrDelay,AirTime,FlightNumber,Temp,Humidity,Wind,Pressure,Description
0,1,1,22,DFW,MIA,2120.0,2204,84.0,139.0,73.0,136.0,AA2329,65.01,77.0,2.0,1009.0,broken clouds
1,1,1,22,DFW,LAX,2210.0,2216,6.0,2353.0,9.0,184.0,AA1023,65.01,77.0,2.0,1009.0,broken clouds
2,1,1,22,DFW,ORD,2130.0,2220,90.0,19.0,74.0,98.0,AA1040,65.01,77.0,2.0,1009.0,broken clouds
3,1,1,22,DFW,ORD,2215.0,2208,-7.0,2400.0,-30.0,95.0,AA2525,65.01,77.0,2.0,1009.0,broken clouds
4,1,1,18,LAX,ORD,1750.0,1837,87.0,21.0,58.0,200.0,AA2576,47.59,81.0,3.0,1014.0,fog
5,1,1,18,LAX,ORD,1801.0,1841,40.0,16.0,12.0,198.0,UA342,47.59,81.0,3.0,1014.0,fog
6,1,1,9,LAX,ORD,945.0,0957,12.0,1539.0,-10.0,202.0,NK730,45.48,87.0,0.0,1012.0,sky is clear
7,1,1,9,LAX,JFK,900.0,0934,34.0,1809.0,42.0,289.0,AA2,45.48,87.0,0.0,1012.0,sky is clear
8,1,1,9,LAX,ORD,945.0,0955,10.0,1553.0,-6.0,206.0,AA110,45.48,87.0,0.0,1012.0,sky is clear
9,1,1,9,LAX,DFW,932.0,0930,-2.0,1444.0,-4.0,160.0,OO5614,45.48,87.0,0.0,1012.0,sky is clear
10,1,1,9,LAX,ORD,905.0,0913,8.0,1504.0,3.0,202.0,UA2039,45.48,87.0,0.0,1012.0,sky is clear
11,1,1,10,DFW,MIA,1025.0,1023,-2.0,1345.0,-23.0,128.0,AA2307,45.61,61.0,1.0,1011.0,haze
12,1,1,10,DFW,LAX,1010.0,1007,-3.0,1201.0,17.0,169.0,AA937,45.61,61.0,1.0,1011.0,haze
13,1,1,20,DFW,LAX,1955.0,2045,90.0,2220.0,90.0,178.0,AA2477,59.68,93.0,1.0,1011.0,mist
14,1,1,20,DFW,ORD,2035.0,2033,-2.0,2238.0,-15.0,100.0,AA1142,59.68,93.0,1.0,1011.0,mist
15,1,1,17,ORD,MIA,1680.0,1748,68.0,2151.0,67.0,160.0,AA342,29.98,100.0,3.0,1021.0,haze
16,1,1,17,ORD,JFK,1750.0,1747,-3.0,2051.0,-12.0,100.0,B61106,29.98,100.0,3.0,1021.0,haze
17,1,1,17,ORD,LAX,1700.0,1718,18.0,1936.0,-8.0,231.0,AA111,29.98,100.0,3.0,1021.0,haze
18,1,1,9,DFW,MIA,905.0,0906,1.0,1245.0,-7.0,132.0,AA1590,46.02,66.0,1.0,1012.0,haze
19,1,1,9,DFW,LAX,905.0,0902,-3.0,1206.0,83.0,170.0,AA2250,46.02,66.0,1.0,1012.0,haze

In [18]:
df.DepTime = df['DepTime'].apply(lambda x: '{0:0<6}'.format(x))

In [19]:
df.head()

,Month,DayofMonth,Hour,Origin,Dest,SchedDep,DepTime,DepDelay,ArrTime,ArrDelay,AirTime,FlightNumber,Temp,Humidity,Wind,Pressure,Description
0,1,1,22,DFW,MIA,2120.0,220400,84.0,139.0,73.0,136.0,AA2329,65.01,77.0,2.0,1009.0,broken clouds
1,1,1,22,DFW,LAX,2210.0,221600,6.0,2353.0,9.0,184.0,AA1023,65.01,77.0,2.0,1009.0,broken clouds
2,1,1,22,DFW,ORD,2130.0,222000,90.0,19.0,74.0,98.0,AA1040,65.01,77.0,2.0,1009.0,broken clouds
3,1,1,22,DFW,ORD,2215.0,220800,-7.0,2400.0,-30.0,95.0,AA2525,65.01,77.0,2.0,1009.0,broken clouds
4,1,1,18,LAX,ORD,1750.0,183700,87.0,21.0,58.0,200.0,AA2576,47.59,81.0,3.0,1014.0,fog

In [20]:
df['DepTime'] = pd.to_datetime(df['DepTime'],format= '%H%M%S' )

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84861 entries, 0 to 84865
Data columns (total 17 columns):
Month           84861 non-null int64
DayofMonth      84861 non-null int64
Hour            84861 non-null int64
Origin          84861 non-null object
Dest            84861 non-null object
SchedDep        84861 non-null float64
DepTime         84861 non-null datetime64[ns]
DepDelay        84861 non-null float64
ArrTime         84861 non-null float64
ArrDelay        84861 non-null float64
AirTime         84861 non-null float64
FlightNumber    84861 non-null object
Temp            84861 non-null float64
Humidity        84861 non-null float64
Wind            84861 non-null float64
Pressure        84861 non-null float64
Description     84861 non-null object
dtypes: datetime64[ns](1), float64(9), int64(3), object(4)
memory usage: 11.7+ MB

In [22]:
df.head()

,Month,DayofMonth,Hour,Origin,Dest,SchedDep,DepTime,DepDelay,ArrTime,ArrDelay,AirTime,FlightNumber,Temp,Humidity,Wind,Pressure,Description
0,1,1,22,DFW,MIA,2120.0,1900-01-01 22:04:00,84.0,139.0,73.0,136.0,AA2329,65.01,77.0,2.0,1009.0,broken clouds
1,1,1,22,DFW,LAX,2210.0,1900-01-01 22:16:00,6.0,2353.0,9.0,184.0,AA1023,65.01,77.0,2.0,1009.0,broken clouds
2,1,1,22,DFW,ORD,2130.0,1900-01-01 22:20:00,90.0,19.0,74.0,98.0,AA1040,65.01,77.0,2.0,1009.0,broken clouds
3,1,1,22,DFW,ORD,2215.0,1900-01-01 22:08:00,-7.0,2400.0,-30.0,95.0,AA2525,65.01,77.0,2.0,1009.0,broken clouds
4,1,1,18,LAX,ORD,1750.0,1900-01-01 18:37:00,87.0,21.0,58.0,200.0,AA2576,47.59,81.0,3.0,1014.0,fog

In [23]:
df['DepTime'] = pd.Series([val.time() for val in df['DepTime']])

In [24]:
df.head()

,Month,DayofMonth,Hour,Origin,Dest,SchedDep,DepTime,DepDelay,ArrTime,ArrDelay,AirTime,FlightNumber,Temp,Humidity,Wind,Pressure,Description
0,1,1,22,DFW,MIA,2120.0,22:04:00,84.0,139.0,73.0,136.0,AA2329,65.01,77.0,2.0,1009.0,broken clouds
1,1,1,22,DFW,LAX,2210.0,22:16:00,6.0,2353.0,9.0,184.0,AA1023,65.01,77.0,2.0,1009.0,broken clouds
2,1,1,22,DFW,ORD,2130.0,22:20:00,90.0,19.0,74.0,98.0,AA1040,65.01,77.0,2.0,1009.0,broken clouds
3,1,1,22,DFW,ORD,2215.0,22:08:00,-7.0,2400.0,-30.0,95.0,AA2525,65.01,77.0,2.0,1009.0,broken clouds
4,1,1,18,LAX,ORD,1750.0,18:37:00,87.0,21.0,58.0,200.0,AA2576,47.59,81.0,3.0,1014.0,fog

In [25]:
df['SchedDep'] = df['SchedDep'].astype(int)

In [26]:
df['SchedDep'] = df['SchedDep'].astype(str)

In [27]:
df.SchedDep.value_counts()

660     1789
560     1655
1215    1114
760     1013
1530     767
        ...
2154       1
-195       1
2338       1
1796       1
-255       1
Name: SchedDep, Length: 1480, dtype: int64

In [28]:
minus = df[df['SchedDep'].str.contains("-")].index

In [29]:
df.drop(minus, inplace=True)

In [30]:
df.reset_index(drop=True)

,Month,DayofMonth,Hour,Origin,Dest,SchedDep,DepTime,DepDelay,ArrTime,ArrDelay,AirTime,FlightNumber,Temp,Humidity,Wind,Pressure,Description
0,1,1,22,DFW,MIA,2120,22:04:00,84.0,139.0,73.0,136.0,AA2329,65.01,77.0,2.0,1009.0,broken clouds
1,1,1,22,DFW,LAX,2210,22:16:00,6.0,2353.0,9.0,184.0,AA1023,65.01,77.0,2.0,1009.0,broken clouds
2,1,1,22,DFW,ORD,2130,22:20:00,90.0,19.0,74.0,98.0,AA1040,65.01,77.0,2.0,1009.0,broken clouds
3,1,1,22,DFW,ORD,2215,22:08:00,-7.0,2400.0,-30.0,95.0,AA2525,65.01,77.0,2.0,1009.0,broken clouds
4,1,1,18,LAX,ORD,1750,18:37:00,87.0,21.0,58.0,200.0,AA2576,47.59,81.0,3.0,1014.0,fog
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84192,10,27,22,JFK,LAX,2245,NaN,-9.0,105.0,-51.0,304.0,B62023,58.59,54.0,2.0,1019.0,sky is clear
84193,10,28,0,LAX,MIA,30,NaN,-6.0,814.0,-28.0,258.0,AA260,83.07,28.0,2.0,1011.0,sky is clear
84194,10,28,0,LAX,DFW,45,NaN,-2.0,543.0,-5.0,160.0,AA1071,83.07,28.0,2.0,1011.0,sky is clear
84195,10,28,0,LAX,ORD,32,NaN,-6.0,638.0,-1.0,227.0,UA910,83.07,28.0,2.0,1011.0,sky is clear
84196,10,28,0,LAX,JFK,25,NaN,-10.0,839.0,-17.0,302.0,B62024,83.07,28.0,2.0,1011.0,sky is clear

In [31]:
df['SchedDep'] = df['SchedDep'].apply(lambda x: '{0:0>4}'.format(x))

In [32]:
df.SchedDep = df['SchedDep'].apply(lambda x: '{0:0<6}'.format(x))

In [33]:
df.SchedDep = df.SchedDep.str[-6:]
df.SchedDep

0        212000
1        221000
2        213000
3        221500
4        175000
          ...
84861    224500
84862    003000
84863    004500
84864    003200
84865    002500
Name: SchedDep, Length: 84197, dtype: object

In [35]:
df=df[(df.SchedDep.apply(lambda x: len(str(x))==6))]

In [36]:
df.head()

,Month,DayofMonth,Hour,Origin,Dest,SchedDep,DepTime,DepDelay,ArrTime,ArrDelay,AirTime,FlightNumber,Temp,Humidity,Wind,Pressure,Description
0,1,1,22,DFW,MIA,212000,22:04:00,84.0,139.0,73.0,136.0,AA2329,65.01,77.0,2.0,1009.0,broken clouds
1,1,1,22,DFW,LAX,221000,22:16:00,6.0,2353.0,9.0,184.0,AA1023,65.01,77.0,2.0,1009.0,broken clouds
2,1,1,22,DFW,ORD,213000,22:20:00,90.0,19.0,74.0,98.0,AA1040,65.01,77.0,2.0,1009.0,broken clouds
3,1,1,22,DFW,ORD,221500,22:08:00,-7.0,2400.0,-30.0,95.0,AA2525,65.01,77.0,2.0,1009.0,broken clouds
4,1,1,18,LAX,ORD,175000,18:37:00,87.0,21.0,58.0,200.0,AA2576,47.59,81.0,3.0,1014.0,fog

In [37]:
df.SchedDep.str.len().value_counts()

6    84197
Name: SchedDep, dtype: int64

In [52]:
pd.to_datetime(df['SchedDep'],format= '%H%M%S')

0   1900-01-01 21:20:00
Name: SchedDep, dtype: datetime64[ns]

In [39]:
a=[]
for i in df.SchedDep:
    timex= pd.to_datetime(i,format= '%H%M%S')
    a.append(timex)
    print(a)

[Timestamp('1900-01-01 21:20:00')]
[Timestamp('1900-01-01 21:20:00'), Timestamp('1900-01-01 22:10:00')]
[Timestamp('1900-01-01 21:20:00'), Timestamp('1900-01-01 22:10:00'), Timestamp('1900-01-01 21:30:00')]
[Timestamp('1900-01-01 21:20:00'), Timestamp('1900-01-01 22:10:00'), Timestamp('1900-01-01 21:30:00'), Timestamp('1900-01-01 22:15:00')]
[Timestamp('1900-01-01 21:20:00'), Timestamp('1900-01-01 22:10:00'), Timestamp('1900-01-01 21:30:00'), Timestamp('1900-01-01 22:15:00'), Timestamp('1900-01-01 17:50:00')]
[Timestamp('1900-01-01 21:20:00'), Timestamp('1900-01-01 22:10:00'), Timestamp('1900-01-01 21:30:00'), Timestamp('1900-01-01 22:15:00'), Timestamp('1900-01-01 17:50:00'), Timestamp('1900-01-01 18:01:00')]
[Timestamp('1900-01-01 21:20:00'), Timestamp('1900-01-01 22:10:00'), Timestamp('1900-01-01 21:30:00'), Timestamp('1900-01-01 22:15:00'), Timestamp('1900-01-01 17:50:00'), Timestamp('1900-01-01 18:01:00'), Timestamp('1900-01-01 09:45:00')]
[Timestamp('1900-01-01 21:20:00'), Timestamp('1900-01-01 22:10:00'), Timestamp('1900-01-01 21:30:00'), Timestamp('1900-01-01 22:15:00'), Timestamp('1900-01-01 17:50:00'), Timestamp('1900-01-01 18:01:00'), Timestamp('1900-01-01 09:45:00'), Timestamp('1900-01-01 09:00:00')]
[Timestamp('1900-01-01 21:20:00'), Timestamp('1900-01-01 22:10:00'), Timestamp('1900-01-01 21:30:00'), Timestamp('1900-01-01 22:15:00'), Timestamp('1900-01-01 17:50:00'), Timestamp('1900-01-01 18:01:00'), Timestamp('1900-01-01 09:45:00'), Timestamp('1900-01-01 09:00:00'), Timestamp('1900-01-01 09:45:00')]
[Timestamp('1900-01-01 21:20:00'), Timestamp('1900-01-01 22:10:00'), Timestamp('1900-01-01 21:30:00'), Timestamp('1900-01-01 22:15:00'), Timestamp('1900-01-01 17:50:00'), Timestamp('1900-01-01 18:01:00'), Timestamp('1900-01-01 09:45:00'), Timestamp('1900-01-01 09:00:00'), Timestamp('1900-01-01 09:45:00'), Timestamp('1900-01-01 09:32:00')]
[Timestamp('1900-01-01 21:20:00'), Timestamp('1900-01-01 22:10:00'), Timestamp('1900-01-01 21:30:00'), Timestamp('1900-01-01 22:15:00'), Timestamp('1900-01-01 17:50:00'), Timestamp('1900-01-01 18:01:00'), Timestamp('1900-01-01 09:45:00'), Timestamp('1900-01-01 09:00:00'), Timestamp('1900-01-01 09:45:00'), Timestamp('1900-01-01 09:32:00'), Timestamp('1900-01-01 09:05:00')]
[Timestamp('1900-01-01 21:20:00'), Timestamp('1900-01-01 22:10:00'), Timestamp('1900-01-01 21:30:00'), Timestamp('1900-01-01 22:15:00'), Timestamp('1900-01-01 17:50:00'), Timestamp('1900-01-01 18:01:00'), Timestamp('1900-01-01 09:45:00'), Timestamp('1900-01-01 09:00:00'), Timestamp('1900-01-01 09:45:00'), Timestamp('1900-01-01 09:32:00'), Timestamp('1900-01-01 09:05:00'), Timestamp('1900-01-01 10:25:00')]
[Timestamp('1900-01-01 21:20:00'), Timestamp('1900-01-01 22:10:00'), Timestamp('1900-01-01 21:30:00'), Timestamp('1900-01-01 22:15:00'), Timestamp('1900-01-01 17:50:00'), Timestamp('1900-01-01 18:01:00'), Timestamp('1900-01-01 09:45:00'), Timestamp('1900-01-01 09:00:00'), Timestamp('1900-01-01 09:45:00'), Timestamp('1900-01-01 09:32:00'), Timestamp('1900-01-01 09:05:00'), Timestamp('1900-01-01 10:25:00'), Timestamp('1900-01-01 10:10:00')]
[Timestamp('1900-01-01 21:20:00'), Timestamp('1900-01-01 22:10:00'), Timestamp('1900-01-01 21:30:00'), Timestamp('1900-01-01 22:15:00'), Timestamp('1900-01-01 17:50:00'), Timestamp('1900-01-01 18:01:00'), Timestamp('1900-01-01 09:45:00'), Timestamp('1900-01-01 09:00:00'), Timestamp('1900-01-01 09:45:00'), Timestamp('1900-01-01 09:32:00'), Timestamp('1900-01-01 09:05:00'), Timestamp('1900-01-01 10:25:00'), Timestamp('1900-01-01 10:10:00'), Timestamp('1900-01-01 19:55:00')]
[Timestamp('1900-01-01 21:20:00'), Timestamp('1900-01-01 22:10:00'), Timestamp('1900-01-01 21:30:00'), Timestamp('1900-01-01 22:15:00'), Timestamp('1900-01-01 17:50:00'), Timestamp('1900-01-01 18:01:00'), Timestamp('1900-01-01 09:45:00'), Timestamp('1900-01-01 09:00:00'), Timestamp('1900-01-01 09:45:00'), Timestamp('1900-01-01 09:32:00'), Timestamp('1900-01-01 09:05:00'), Timestamp('1900-01-01 10:25:00'), Timestamp('1900-01-01 10:10:00'), Timestamp('1900-01-01 19:55:00'), Timestamp('1900-01-01 20:35:00')]

ValueError: unconverted data remains: 0

In [40]:
df[df['SchedDep'].str.contains("20:35:00")].index

Int64Index([], dtype='int64')

In [41]:
df.loc[df['SchedDep'] == '203500'].index[0]

14

In [42]:
df.head(16)

,Month,DayofMonth,Hour,Origin,Dest,SchedDep,DepTime,DepDelay,ArrTime,ArrDelay,AirTime,FlightNumber,Temp,Humidity,Wind,Pressure,Description
0,1,1,22,DFW,MIA,212000,22:04:00,84.0,139.0,73.0,136.0,AA2329,65.01,77.0,2.0,1009.0,broken clouds
1,1,1,22,DFW,LAX,221000,22:16:00,6.0,2353.0,9.0,184.0,AA1023,65.01,77.0,2.0,1009.0,broken clouds
2,1,1,22,DFW,ORD,213000,22:20:00,90.0,19.0,74.0,98.0,AA1040,65.01,77.0,2.0,1009.0,broken clouds
3,1,1,22,DFW,ORD,221500,22:08:00,-7.0,2400.0,-30.0,95.0,AA2525,65.01,77.0,2.0,1009.0,broken clouds
4,1,1,18,LAX,ORD,175000,18:37:00,87.0,21.0,58.0,200.0,AA2576,47.59,81.0,3.0,1014.0,fog
5,1,1,18,LAX,ORD,180100,18:41:00,40.0,16.0,12.0,198.0,UA342,47.59,81.0,3.0,1014.0,fog
6,1,1,9,LAX,ORD,094500,09:57:00,12.0,1539.0,-10.0,202.0,NK730,45.48,87.0,0.0,1012.0,sky is clear
7,1,1,9,LAX,JFK,090000,09:34:00,34.0,1809.0,42.0,289.0,AA2,45.48,87.0,0.0,1012.0,sky is clear
8,1,1,9,LAX,ORD,094500,09:55:00,10.0,1553.0,-6.0,206.0,AA110,45.48,87.0,0.0,1012.0,sky is clear
9,1,1,9,LAX,DFW,093200,09:30:00,-2.0,1444.0,-4.0,160.0,OO5614,45.48,87.0,0.0,1012.0,sky is clear
10,1,1,9,LAX,ORD,090500,09:13:00,8.0,1504.0,3.0,202.0,UA2039,45.48,87.0,0.0,1012.0,sky is clear
11,1,1,10,DFW,MIA,102500,10:23:00,-2.0,1345.0,-23.0,128.0,AA2307,45.61,61.0,1.0,1011.0,haze
12,1,1,10,DFW,LAX,101000,10:07:00,-3.0,1201.0,17.0,169.0,AA937,45.61,61.0,1.0,1011.0,haze
13,1,1,20,DFW,LAX,195500,20:45:00,90.0,2220.0,90.0,178.0,AA2477,59.68,93.0,1.0,1011.0,mist
14,1,1,20,DFW,ORD,203500,20:33:00,-2.0,2238.0,-15.0,100.0,AA1142,59.68,93.0,1.0,1011.0,mist
15,1,1,17,ORD,MIA,168000,17:48:00,68.0,2151.0,67.0,160.0,AA342,29.98,100.0,3.0,1021.0,haze

In [43]:
df['SchedDep'] = df['SchedDep'].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84197 entries, 0 to 84865
Data columns (total 17 columns):
Month           84197 non-null int64
DayofMonth      84197 non-null int64
Hour            84197 non-null int64
Origin          84197 non-null object
Dest            84197 non-null object
SchedDep        84197 non-null object
DepTime         84192 non-null object
DepDelay        84197 non-null float64
ArrTime         84197 non-null float64
ArrDelay        84197 non-null float64
AirTime         84197 non-null float64
FlightNumber    84197 non-null object
Temp            84197 non-null float64
Humidity        84197 non-null float64
Wind            84197 non-null float64
Pressure        84197 non-null float64
Description     84197 non-null object
dtypes: float64(8), int64(3), object(6)
memory usage: 11.6+ MB

In [44]:
df.SchedDep.str[2]

0        2
1        1
2        3
3        1
4        5
        ..
84861    4
84862    3
84863    4
84864    3
84865    2
Name: SchedDep, Length: 84197, dtype: object

In [54]:
a =[]
for j, i in enumerate (df.SchedDep.str[2]):
    if i == '6':
        a.append(j)
    if i == '7':
        a.append(j)
    if i == '8':
        a.append(j)
    if i == '9':
        a.append(j)

In [46]:
len(a)

18017

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 84197 entries, 0 to 84865
Data columns (total 17 columns):
Month           84197 non-null int64
DayofMonth      84197 non-null int64
Hour            84197 non-null int64
Origin          84197 non-null object
Dest            84197 non-null object
SchedDep        84197 non-null object
DepTime         84192 non-null object
DepDelay        84197 non-null float64
ArrTime         84197 non-null float64
ArrDelay        84197 non-null float64
AirTime         84197 non-null float64
FlightNumber    84197 non-null object
Temp            84197 non-null float64
Humidity        84197 non-null float64
Wind            84197 non-null float64
Pressure        84197 non-null float64
Description     84197 non-null object
dtypes: float64(8), int64(3), object(6)
memory usage: 11.6+ MB

In [59]:
ddp = df.index[a]

In [63]:
df = df.drop(index=ddp,axis =1, inplace=True)

KeyError: '[   15    25    37 ... 84849 84850 84857] not found in axis'

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66180 entries, 0 to 84865
Data columns (total 17 columns):
Month           66180 non-null int64
DayofMonth      66180 non-null int64
Hour            66180 non-null int64
Origin          66180 non-null object
Dest            66180 non-null object
SchedDep        66180 non-null object
DepTime         66175 non-null object
DepDelay        66180 non-null float64
ArrTime         66180 non-null float64
ArrDelay        66180 non-null float64
AirTime         66180 non-null float64
FlightNumber    66180 non-null object
Temp            66180 non-null float64
Humidity        66180 non-null float64
Wind            66180 non-null float64
Pressure        66180 non-null float64
Description     66180 non-null object
dtypes: float64(8), int64(3), object(6)
memory usage: 11.6+ MB

In [74]:
df.SchedDep= pd.to_datetime(df['SchedDep'],format= '%H:%M:%S')

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66180 entries, 0 to 84865
Data columns (total 17 columns):
Month           66180 non-null int64
DayofMonth      66180 non-null int64
Hour            66180 non-null int64
Origin          66180 non-null object
Dest            66180 non-null object
SchedDep        66180 non-null datetime64[ns]
DepTime         66175 non-null object
DepDelay        66180 non-null float64
ArrTime         66180 non-null float64
ArrDelay        66180 non-null float64
AirTime         66180 non-null float64
FlightNumber    66180 non-null object
Temp            66180 non-null float64
Humidity        66180 non-null float64
Wind            66180 non-null float64
Pressure        66180 non-null float64
Description     66180 non-null object
dtypes: datetime64[ns](1), float64(8), int64(3), object(5)
memory usage: 11.6+ MB

In [67]:
df.head()

,Month,DayofMonth,Hour,Origin,Dest,SchedDep,DepTime,DepDelay,ArrTime,ArrDelay,AirTime,FlightNumber,Temp,Humidity,Wind,Pressure,Description
0,1,1,22,DFW,MIA,1900-01-01 21:20:00,22:04:00,84.0,139.0,73.0,136.0,AA2329,65.01,77.0,2.0,1009.0,broken clouds
1,1,1,22,DFW,LAX,1900-01-01 22:10:00,22:16:00,6.0,2353.0,9.0,184.0,AA1023,65.01,77.0,2.0,1009.0,broken clouds
2,1,1,22,DFW,ORD,1900-01-01 21:30:00,22:20:00,90.0,19.0,74.0,98.0,AA1040,65.01,77.0,2.0,1009.0,broken clouds
3,1,1,22,DFW,ORD,1900-01-01 22:15:00,22:08:00,-7.0,2400.0,-30.0,95.0,AA2525,65.01,77.0,2.0,1009.0,broken clouds
4,1,1,18,LAX,ORD,1900-01-01 17:50:00,18:37:00,87.0,21.0,58.0,200.0,AA2576,47.59,81.0,3.0,1014.0,fog

In [69]:
df['SchedDep'] = pd.Series([val.time() for val in df['SchedDep']])

In [71]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66180 entries, 0 to 84865
Data columns (total 17 columns):
Month           66180 non-null int64
DayofMonth      66180 non-null int64
Hour            66180 non-null int64
Origin          66180 non-null object
Dest            66180 non-null object
SchedDep        51404 non-null object
DepTime         66175 non-null object
DepDelay        66180 non-null float64
ArrTime         66180 non-null float64
ArrDelay        66180 non-null float64
AirTime         66180 non-null float64
FlightNumber    66180 non-null object
Temp            66180 non-null float64
Humidity        66180 non-null float64
Wind            66180 non-null float64
Pressure        66180 non-null float64
Description     66180 non-null object
dtypes: float64(8), int64(3), object(6)
memory usage: 11.6+ MB

In [75]:
df.DepTime= pd.to_datetime(df['DepTime'],format= '%H:%M:%S')

In [ ]:
df.SchedDep= pd.to_datetime(df['SchedDep'],format= '%H:%M:%S')

In [88]:
df['Delay_min'] = (df['DepTime'] - df['SchedDep']).dt.seconds/60

In [89]:
df.head()

,Month,DayofMonth,Hour,Origin,Dest,SchedDep,DepTime,DepDelay,ArrTime,ArrDelay,AirTime,FlightNumber,Temp,Humidity,Wind,Pressure,Description,Difference,Delay_min
0,1,1,22,DFW,MIA,1900-01-01 21:20:00,1900-01-01 22:04:00,84.0,139.0,73.0,136.0,AA2329,65.01,77.0,2.0,1009.0,broken clouds,44.0,44.0
1,1,1,22,DFW,LAX,1900-01-01 22:10:00,1900-01-01 22:16:00,6.0,2353.0,9.0,184.0,AA1023,65.01,77.0,2.0,1009.0,broken clouds,6.0,6.0
2,1,1,22,DFW,ORD,1900-01-01 21:30:00,1900-01-01 22:20:00,90.0,19.0,74.0,98.0,AA1040,65.01,77.0,2.0,1009.0,broken clouds,50.0,50.0
3,1,1,22,DFW,ORD,1900-01-01 22:15:00,1900-01-01 22:08:00,-7.0,2400.0,-30.0,95.0,AA2525,65.01,77.0,2.0,1009.0,broken clouds,1433.0,1433.0
4,1,1,18,LAX,ORD,1900-01-01 17:50:00,1900-01-01 18:37:00,87.0,21.0,58.0,200.0,AA2576,47.59,81.0,3.0,1014.0,fog,47.0,47.0

In [90]:
df.corr()

,Month,DayofMonth,Hour,DepDelay,ArrTime,ArrDelay,AirTime,Temp,Humidity,Wind,Pressure,Difference,Delay_min
Month,1.000000,-0.015237,0.013013,-0.023012,-0.006746,-0.021540,-0.011686,0.541680,-0.065682,-0.156282,-0.031801,-0.000263,-0.000263
DayofMonth,-0.015237,1.000000,-0.000209,-0.019401,-0.001348,-0.022907,-0.003865,0.057572,-0.008947,0.003257,-0.100276,-0.002543,-0.002543
Hour,0.013013,-0.000209,1.000000,0.125619,0.193614,0.105412,0.035982,0.210621,-0.353273,0.239275,0.024344,-0.224464,-0.224464
DepDelay,-0.023012,-0.019401,0.125619,1.000000,-0.020411,0.921155,0.021688,0.025830,-0.014603,0.041354,-0.019178,-0.031331,-0.031331
ArrTime,-0.006746,-0.001348,0.193614,-0.020411,1.000000,-0.017324,-0.038889,-0.038885,0.013304,-0.007182,0.044226,-0.079503,-0.079503
ArrDelay,-0.021540,-0.022907,0.105412,0.921155,-0.017324,1.000000,0.035785,0.032528,-0.008624,0.054609,-0.033638,-0.029048,-0.029048
AirTime,-0.011686,-0.003865,0.035982,0.021688,-0.038889,0.035785,1.000000,-0.077090,-0.000613,-0.174676,-0.037591,-0.001339,-0.001339
Temp,0.541680,0.057572,0.210621,0.025830,-0.038885,0.032528,-0.077090,1.000000,-0.235722,0.027813,-0.102388,-0.055133,-0.055133
Humidity,-0.065682,-0.008947,-0.353273,-0.014603,0.013304,-0.008624,-0.000613,-0.235722,1.000000,-0.244963,-0.149366,0.100213,0.100213
Wind,-0.156282,0.003257,0.239275,0.041354,-0.007182,0.054609,-0.174676,0.027813,-0.244963,1.000000,0.007175,-0.066715,-0.066715
Pressure,-0.031801,-0.100276,0.024344,-0.019178,0.044226,-0.033638,-0.037591,-0.102388,-0.149366,0.007175,1.000000,-0.000104,-0.000104
Difference,-0.000263,-0.002543,-0.224464,-0.031331,-0.079503,-0.029048,-0.001339,-0.055133,0.100213,-0.066715,-0.000104,1.000000,1.000000
Delay_min,-0.000263,-0.002543,-0.224464,-0.031331,-0.079503,-0.029048,-0.001339,-0.055133,0.100213,-0.066715,-0.000104,1.000000,1.000000

In [94]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 66180 entries, 0 to 84865
Data columns (total 19 columns):
Month           66180 non-null int64
DayofMonth      66180 non-null int64
Hour            66180 non-null int64
Origin          66180 non-null object
Dest            66180 non-null object
SchedDep        51404 non-null datetime64[ns]
DepTime         66175 non-null datetime64[ns]
DepDelay        66180 non-null float64
ArrTime         66180 non-null float64
ArrDelay        66180 non-null float64
AirTime         66180 non-null float64
FlightNumber    66180 non-null object
Temp            66180 non-null float64
Humidity        66180 non-null float64
Wind            66180 non-null float64
Pressure        66180 non-null float64
Description     66180 non-null object
Difference      51404 non-null float64
Delay_min       51404 non-null float64
dtypes: datetime64[ns](2), float64(10), int64(3), object(4)
memory usage: 12.6+ MB

In [96]:
Dep_minus = df[df['DepDelay'].astype(str).str.contains("-")].index

In [97]:
df.drop(Dep_minus, inplace=True)

In [98]:
df.reset_index(drop=True)

,Month,DayofMonth,Hour,Origin,Dest,SchedDep,DepTime,DepDelay,ArrTime,ArrDelay,AirTime,FlightNumber,Temp,Humidity,Wind,Pressure,Description,Difference,Delay_min
0,1,1,22,DFW,MIA,1900-01-01 21:20:00,1900-01-01 22:04:00,84.0,139.0,73.0,136.0,AA2329,65.01,77.0,2.0,1009.0,broken clouds,44.0,44.0
1,1,1,22,DFW,LAX,1900-01-01 22:10:00,1900-01-01 22:16:00,6.0,2353.0,9.0,184.0,AA1023,65.01,77.0,2.0,1009.0,broken clouds,6.0,6.0
2,1,1,22,DFW,ORD,1900-01-01 21:30:00,1900-01-01 22:20:00,90.0,19.0,74.0,98.0,AA1040,65.01,77.0,2.0,1009.0,broken clouds,50.0,50.0
3,1,1,18,LAX,ORD,1900-01-01 17:50:00,1900-01-01 18:37:00,87.0,21.0,58.0,200.0,AA2576,47.59,81.0,3.0,1014.0,fog,47.0,47.0
4,1,1,18,LAX,ORD,1900-01-01 18:01:00,1900-01-01 18:41:00,40.0,16.0,12.0,198.0,UA342,47.59,81.0,3.0,1014.0,fog,40.0,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29835,10,27,7,DFW,LAX,NaT,1900-01-01 21:47:00,1.0,819.0,-22.0,164.0,AA2401,63.41,45.0,12.0,1009.0,light rain,NaN,NaN
29836,10,27,7,DFW,ORD,NaT,1900-01-01 21:47:00,6.0,913.0,-12.0,102.0,AA990,63.41,45.0,12.0,1009.0,light rain,NaN,NaN
29837,10,27,21,MIA,ORD,NaT,1900-01-01 22:17:00,17.0,2343.0,-11.0,150.0,AA234,79.99,54.0,5.0,1015.0,broken clouds,NaN,NaN
29838,10,27,22,DFW,ORD,NaT,1900-01-01 21:40:00,2.0,24.0,-5.0,103.0,AA2400,48.79,37.0,6.0,1020.0,broken clouds,NaN,NaN
29839,10,27,1,LAX,ORD,NaT,1900-01-01 00:26:00,3.0,720.0,-1.0,224.0,AA2257,86.02,21.0,1.0,1011.0,sky is clear,NaN,NaN

In [104]:
df.isnull().sum()

Month              0
DayofMonth         0
Hour               0
Origin             0
Dest               0
SchedDep        5507
DepTime            0
DepDelay           0
ArrTime            0
ArrDelay           0
AirTime            0
FlightNumber       0
Temp               0
Humidity           0
Wind               0
Pressure           0
Description        0
Difference      5507
Delay_min       5507
dtype: int64

In [106]:
df.dropna(inplace=True)

In [107]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24333 entries, 0 to 66179
Data columns (total 19 columns):
Month           24333 non-null int64
DayofMonth      24333 non-null int64
Hour            24333 non-null int64
Origin          24333 non-null object
Dest            24333 non-null object
SchedDep        24333 non-null datetime64[ns]
DepTime         24333 non-null datetime64[ns]
DepDelay        24333 non-null float64
ArrTime         24333 non-null float64
ArrDelay        24333 non-null float64
AirTime         24333 non-null float64
FlightNumber    24333 non-null object
Temp            24333 non-null float64
Humidity        24333 non-null float64
Wind            24333 non-null float64
Pressure        24333 non-null float64
Description     24333 non-null object
Difference      24333 non-null float64
Delay_min       24333 non-null float64
dtypes: datetime64[ns](2), float64(10), int64(3), object(4)
memory usage: 3.7+ MB

In [108]:
df.head()

,Month,DayofMonth,Hour,Origin,Dest,SchedDep,DepTime,DepDelay,ArrTime,ArrDelay,AirTime,FlightNumber,Temp,Humidity,Wind,Pressure,Description,Difference,Delay_min
0,1,1,22,DFW,MIA,1900-01-01 21:20:00,1900-01-01 22:04:00,84.0,139.0,73.0,136.0,AA2329,65.01,77.0,2.0,1009.0,broken clouds,44.0,44.0
1,1,1,22,DFW,LAX,1900-01-01 22:10:00,1900-01-01 22:16:00,6.0,2353.0,9.0,184.0,AA1023,65.01,77.0,2.0,1009.0,broken clouds,6.0,6.0
2,1,1,22,DFW,ORD,1900-01-01 21:30:00,1900-01-01 22:20:00,90.0,19.0,74.0,98.0,AA1040,65.01,77.0,2.0,1009.0,broken clouds,50.0,50.0
4,1,1,18,LAX,ORD,1900-01-01 17:50:00,1900-01-01 18:37:00,87.0,21.0,58.0,200.0,AA2576,47.59,81.0,3.0,1014.0,fog,47.0,47.0
5,1,1,18,LAX,ORD,1900-01-01 18:01:00,1900-01-01 18:41:00,40.0,16.0,12.0,198.0,UA342,47.59,81.0,3.0,1014.0,fog,40.0,40.0

In [109]:
df['SchedDep'] = pd.Series([val.time() for val in df['SchedDep']])

In [110]:
df['DepTime'] = pd.Series([val.time() for val in df['DepTime']])

In [112]:
df.head()

,Month,DayofMonth,Hour,Origin,Dest,SchedDep,DepTime,DepDelay,ArrTime,ArrDelay,AirTime,FlightNumber,Temp,Humidity,Wind,Pressure,Description,Difference,Delay_min
0,1,1,22,DFW,MIA,21:20:00,22:04:00,84.0,139.0,73.0,136.0,AA2329,65.01,77.0,2.0,1009.0,broken clouds,44.0,44.0
1,1,1,22,DFW,LAX,22:10:00,22:16:00,6.0,2353.0,9.0,184.0,AA1023,65.01,77.0,2.0,1009.0,broken clouds,6.0,6.0
2,1,1,22,DFW,ORD,21:30:00,22:20:00,90.0,19.0,74.0,98.0,AA1040,65.01,77.0,2.0,1009.0,broken clouds,50.0,50.0
4,1,1,18,LAX,ORD,18:01:00,18:41:00,87.0,21.0,58.0,200.0,AA2576,47.59,81.0,3.0,1014.0,fog,47.0,47.0
5,1,1,18,LAX,ORD,09:45:00,09:57:00,40.0,16.0,12.0,198.0,UA342,47.59,81.0,3.0,1014.0,fog,40.0,40.0

In [113]:
df.to_csv('Flight Data', encoding = 'utf-8', index = False)